pipeline/pl_s3_adls.json
{
	"name": "pl_s3_adls",
	"properties": {
		"description": "Ingesting order_items csv file from AWS to Azure data lake Gen2",
		"activities": [
			{
				"name": "If-Condition",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "checkFileExistence",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@activity('checkFileExistence').output.exists",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "failedCase1",
							"type": "Fail",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"message": "Failed in retrieving file from AWS",
								"errorCode": "404"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "copying data from aws to lake",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AmazonS3ReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_aws_s3_order_items_target",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "ds_adlsgen000",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			},
			{
				"name": "checkFileExistence",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_aws_s3_order_items_target",
						"type": "DatasetReference"
					},
					"fieldList": [
						"exists"
					],
					"storeSettings": {
						"type": "AmazonS3ReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			}
		],
		"folder": {
			"name": "ingestion"
		},
		"annotations": [],
		"lastPublishTime": "2023-12-22T19:15:54Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}